.card-body{
    text-align: center;
    font-size: larger;
    /* margin-bottom: 23%; */

}
.card-title{
    color:#05478b ;
    margin-top: 90px;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
.shop{
    color:#09d486 ;
    margin-top: 90px;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
.buy{
    float: right;
    /* text-align: center; */
}