<!-- <p>about works!</p> -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <div class="about_taital">About Us</div>
                    <p class="about_text"><b>Taste and See Coffee Shop & Gallery</b>

                    </p>
                    <p class="about_text">Taste and See Coffee Shop and Gallery offers a unique coffee house environment
                        unlike any other in Macon. We are not only a place to drop in and get your morning cup of coffee
                        (although you are more than welcome to do that), we are a place where you can sit down and enjoy
                        that tailor-made cup of coffee. If you need to work, We have everything from classic coffee to
                        our house
                        made specialty beverages. All of our sauces & syrups are made in-house with all natural
                        ingredients (no chemicals or preservatives) ensuring you the highest quality in taste & health.
                        You can complete your coffee with one of our delicious sweet treats made by our very own baker.
                        We look forward to serving you at Taste & See Coffee Shop and Gallery!</p>
                    <!-- <div class="read_bt"><a href="#">Read More</a></div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_img"><img src="/assets/images/about-img.png"></div>
                <br><br><br><br>

            </div>
        </div>
        <div class="team">
            <div class="container py-3">
                <h3 class="text-center"><b>Meet With Our Team </b></h3>
                <p class="text-center">Here is the whole team, who are the contributors to the website designing
                <div class="row ">
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                        <div class="card p-3">
                            <img src="/assets/images/nabbendu.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h6 class="card-title" style="text-align: center;">Nabendu Bag </h6>
                                <h6 class="card-title"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                        <div class="card p-3">
                            <img src="/assets/images/souvik_das.jpeg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h6 class="card-title"style="text-align: center;">Souvik Das </h6>
                                <h6 class="card-title"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                        <div class="card p-3">
                            <img src="/assets/images/ankur.jpg" class="card-img-top" alt="image">
                            <div class="card-body">
                                <h6 class="card-title"style="text-align: center;">Ankur Biswas </h6>
                                <h6 class="card-title"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->