<!-- <p>home works!</p> -->


<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_taital">
                                <h1 class="outstanding_text">WE ARE OPEN</h1>
                                <h1 class="coffee_text">Coffee Hub</h1>
                                <p class="there_text">Coffee is a beverage brewed from the roasted and ground seeds of
                                    the tropical evergreen coffee plant. Coffee is one of the three most popular
                                    beverages in the world alongside water and tea, and it is one of the most profitable
                                    international commodities.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_taital">
                                <h1 class="outstanding_text">DIFFERENT COFFEES</h1>
                                <h1 class="coffee_text">Coffee Hub</h1>
                                <p class="there_text">A coffeehouse, coffee shop, or café is an establishment that
                                    primarily serves various types of coffee, notably espresso, latte, and cappuccino.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="banner_taital">
                                <h1 class="outstanding_text">DIFFERENTS TASTES </h1>
                                <h1 class="coffee_text">Coffee Hub</h1>
                                <p class="there_text">Very Delicious and Different Flavors Our Coffees Try it Now </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<!-- banner section end -->

<!-- about section start -->
<!-- about section end -->

<!-- gallery section start -->
<!-- gallery section end -->

<!-- services section start -->
<!-- services section end -->

<!-- testimonial section start -->
<div class="client_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="client_taital">Testimonial</h1>
                <p class="client_text">Coffee is a beverage prepared from roasted coffee beans.
                    Darkly colored, bitter, and slightly acidic, coffee has a stimulating effect on
                    humans, primarily due to its caffeine content. It has the highest sales in the
                    world market for hot drinks.</p>
            </div>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="client_section_2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testimonial_section_2">
                                    <h4 class="client_name_text">Coffee <span class="quick_icon"><img
                                                src="/assets/images/quick-icon.png"></span></h4>
                                    <p class="customer_text">The seeds of the Coffea plant's fruits are separated to
                                        produce unroasted green coffee beans. The beans are roasted and then ground into
                                        fine particles that are typically steeped in hot water before being filtered
                                        out, producing a cup of coffee. It is usually served hot, although chilled or
                                        iced coffee is common. Coffee can be prepared and presented in a variety of ways
                                        (e.g., espresso, French press, caffè latte, or already-brewed canned coffee).
                                        Sugar, sugar substitutes, milk, and cream are often added to mask the bitter
                                        taste or enhance the flavor.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="client_section_2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testimonial_section_2">
                                    <h4 class="client_name_text">Preprocessing <span class="quick_icon"><img
                                                src="/assets/images/quick-icon.png"></span></h4>
                                    <p class="customer_text">Coffee berries are traditionally selectively picked by
                                        hand, which is labor-intensive as it involves the selection of only the berries
                                        at the peak of ripeness. More commonly, crops are strip picked, where all
                                        berries are harvested simultaneously regardless of ripeness by person or
                                        machine. After picking, green coffee is processed by one of two types of
                                        method—a dry process method which is often simpler and less labor-intensive, and
                                        a wet process method, which incorporates batch fermentation, uses larger amounts
                                        of water in the process, and often yields a milder coffee.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="client_section_2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testimonial_section_2">
                                    <h4 class="client_name_text">Roasting <span class="quick_icon"><img
                                                src="/assets/images/quick-icon.png"></span></h4>
                                    <p class="customer_text">The next step in the process is the roasting of green
                                        coffee. Coffee is usually sold in a roasted state, and with rare exceptions,
                                        such as infusions from green coffee beans,[93] coffee is roasted before it is
                                        consumed. It can be sold roasted by the supplier, or it can be home roasted.[94]
                                        The roasting process influences the taste of the beverage by changing the coffee
                                        bean both physically and chemically. The bean decreases in weight as moisture is
                                        lost and increases in volume, causing it to become less dense. The density of
                                        the bean also influences the strength of the coffee and the requirements for
                                        packaging.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial section end -->
&nbsp;
&nbsp;
&nbsp;
<!-- contact section start -->

<!-- contact section end -->

<!-- footer section start -->
