.logo{
    /* height: 20px; */
    width:157px;
    border-radius: 200px;
    /* padding:auto 150px; */
    /* max-width: 200px; */
}
.img-fluid{
    border: 2px solid black;
    flex: none;
    height: 50px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
}